.page {
  min-height: 900px;
  /* background-color: #2b2c2c; */
  background-size: contain;
  background-position: center;
  background-image: url("../../world.jpg");
  padding: 30px;
}

.page__heading {
  text-align: center;
}

.page__heading h2 {
  margin: 0;
  font-size: 35px;
  padding-top: 20px;
  font-weight: 400;
}

.page__heading p {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
