.Input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  background-color: rgb(0, 0, 0);
  border-radius: 3px;
  font-size: 25px;
  margin: 15px;
  height: 250px;
  padding: 15px 20px;
  padding-bottom: 25px;
}

.Input input {
  font-size: 22px;
  margin: 10px 0;
  padding: 10px 5px;
  border: 2px solid rgb(177, 177, 170);
  border-radius: 4px;
}

.Input h3 {
  text-align: center;
  margin: 0px;
  margin-bottom: 15px;
  color: orangered;
}

.Input p {
  margin: 0;
  height: 30px;
  text-align: center;
  color: red;
}

.Input small {
  text-align: center;
  font-weight: 600;
}

.Input__controls {
  display: flex;
  flex-direction: column;
}
