.Navbar ul {
  display: flex;
  list-style: none;
  padding: 10px 0;
  text-decoration: none;
}

.Navbar ul li {
  text-decoration: none;
  margin: 0 10px;
  font-size: 24px;
  font-weight: 300;
}

.Navbar ul li a {
  text-decoration: none;
  color: wheat;
}

.Navbar ul li a:hover {
  text-decoration: none;
  color: rgb(207, 107, 40);
}
