.CountryCardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 520px;
  width: 80%;
  background-color: rgb(255, 128, 128);
  margin: 50px 25px;
  box-sizing: 4px;
  padding: 30px;
  opacity: 0.85;
}

.error__page h2 {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
}

.error__page img {
  width: 700px;
  object-fit: cover;
}
